{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row fdet">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="{{detail.pix.url}}" class="img-fluid rounded-start" style="height: 60vh;" width="500px">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{detail.name|title}}</h5>
            <h5 class="card-title">₦{{detail.price}}</h5>
            <hr>
            <p class="card-text">{{detail.description|title}}</p>
              <button class="btn" type="submit">Add to cart</button>
              <p class="fdetcat">Category: <span>{{detail.category|title}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}