{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block content %}
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-3 pavat">
      <img src="{{userprof.pix.url}}" alt="">
      <p>{{userprof.user}}</p>
      <hr>
      <ul class="list-unstyled">
        <li><a href="{% url 'profile' %}">profile</a></li>
        <li><a href="{% url 'profile_update' %}">profile update</a></li>
        <li><a href="{% url 'password_update' %}">password update</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-9 pdet">
      <table>
        <h2 class="text-center">Profile</h2>
        <tbody>
          <tr>
            <td class="left">FIRST NAME</td>
            <td>{{userprof.first_name|title}}</td>
          </tr>
          <tr>
            <td class="left">LAST NAME</td>
            <td>{{userprof.last_name|title}}</td>
          </tr>
          <tr>
            <td class="left">EMAIL</td>
            <td>{{userprof.email}}</td>
          </tr>
          <tr>
            <td class="left">PHONE</td>
            <td>{{userprof.phone}}</td>
          </tr>
          <tr>
            <td class="left">ADDRESS</td>
            <td>{{userprof.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}